@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-cyan: hsl(179, 62%, 43%);
    --clr-bright-yellow: hsl(71, 73%, 54%);
    --clr-light-gray: hsl(204, 43%, 93%);
    --clr-graysh-blue: hsl(218, 22%, 67%);


    --ff-karla: 'Karla', sans-serif;

}

body {
    background-color: var(--clr-light-gray);
    font-family: var(--ff-karla);
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}