.card {
    border-radius: 6px;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.25);
}

.community {
    background-color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.community__title {
    color: var(--clr-cyan);
    font-weight: 700;
}

.community__guarantee {
    color: var(--clr-bright-yellow);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;

}

.community__details {
    line-height: 1.5rem;
    color: var(--clr-graysh-blue);
    font-weight: 400;
    font-size: .86rem;
}

.subscription {
    background-color: var(--clr-cyan);
}

.subscription__title {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.subscription__container-monthly {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.susbscription__price {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
}

.subscription__month {
    color: var(--clr-graysh-blue);
    padding-left: .75rem;
}

.subscription__details {
    color: #fff;
    font-weight: 400;
    font-size: 1.075rem;
    margin-bottom: 1.75rem;
}

.about {
    background-color: var(--clr-graysh-blue);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.about__title {
    color: #fff;
    font-size: 1.25rem;
}

.about__details {
    max-width: 250px;
    
    color: var(--clr-light-gray);
    font-size: 1rem;
    line-height: 1.3rem;
    margin-top: 1rem;
    padding-right: 2rem;
}

@media screen and (min-width: 1024px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'community community'
        'subscription about';
        max-width: 600px;
    }

    .community {
        grid-area: community;
    }

    .community__details {
        font-size: 1rem;
    }

    .subscription {
        grid-area: subscription;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 6px;
        
    }
    .subscription__details {
        font-size: 1rem;
    }

    .about {
        grid-area: about;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 6px;
    }

    .about__title {
        margin-bottom: 1rem;
    }
}